.grid {
    width: 500px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 'shoe shorts pineapple pineapple' 'plant plant pineapple pineapple' 'skateboard backpack strawberry strawberry';
    grid-gap: 5px;
}

.grid div {
    overflow: hidden;
    position: relative;
}

.shoe {
    grid-area: shoe;
}

.shorts {
    grid-area: shorts;
}

.pineapple {
    grid-area: pineapple;
}

.plant {
    grid-area: plant;
}

.skateboard {
    grid-area: skateboard;
}

.backpack {
    grid-area: backpack;
}

.strawberry {
    grid-area: strawberry;
}

img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}