.grid {
    width: 80%;
    height: 600px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 'shoe shorts pineapple pineapple' 'plant plant pineapple pineapple' 'skateboard backpack strawberry strawberry';
    grid-gap: 5px;
    margin: 0 auto;
}

.grid div {
    overflow: hidden;
    position: relative;
}

.shoe {
    grid-area: shoe;
}

.shorts {
    grid-area: shorts;
}

.pineapple {
    grid-area: pineapple;
}

.plant {
    grid-area: plant;
}

.skateboard {
    grid-area: skateboard;
}

.backpack {
    grid-area: backpack;
}

.strawberry {
    grid-area: strawberry;
}

img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

/* @media only screen and (max-width: 830px) {
.grid {
    width: 405px;
    grid-template-columns: 200px 200px; 
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-areas: 'shoe shorts' 'plant plant' 'pineapple pineapple' 'pineapple pineapple' 'skateboard backpack' 'strawberry strawberry';
}
}
@media only screen and (max-width: 470px) {
    .grid {
        width: 305px;
        grid-template-columns: 150px 150px; 
        grid-template-rows: 150px 150px 150px 150px 150px 150px;
        grid-template-areas: 'shoe shorts' 'plant plant' 'pineapple pineapple' 'pineapple pineapple' 'skateboard backpack' 'strawberry strawberry';
    }
    } */